@media(max-width: 480px){
@font-face {
font-family: 'zousan';
src: url(../fonts/002zou-Regular.otf);
}

@font-face{
  font-family: 'tw-cen';
  src: url(../fonts/tw-cent-mt.TTF);
}
html {
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
  max-width: 100vw;
}

.zousan {
  font-family: 'zousan';
}

.tw-cen {
  font-family: 'tw-cen';
}

.container-fluid {
  padding: 0;
}


/************               top               ******************/

.food-illust {
  display: none;
  width: 25vw;
  height: 18vw;
  z-index: -50;
  margin-top: -2.5vh;
  margin-left: -2vh;
}
.top-pizza {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  padding-top: 12vh;
  margin-bottom: -8vh;
  z-index: -5;
}

.top-pizza img {
  text-align: center;
}

.top-boy {

}
.overwrap-title {
  text-align: center;
  width: 100%;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 0.55px #333;
  font-style: italic;
  font-size: 5vw;
  line-height: 0.8em;
  color: #333;
  padding-left: 7%;
  z-index: 88;
  margin-bottom: -2vh;
  margin-top: -1.5vh;
}

.top-girl{
  margin-top: -2vh;
}
.subtitle {
  padding-top: 2vh;
  padding-bottom: -2vh;
  margin: 0;
  width: 100%;
}

.subtitle h2:first-child {
  margin-bottom: -2vh;
}

.subtitle h2{
  font-size:11vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#scrollsubtitle {
  width: 77%;
  margin-left: auto;
  margin-right: auto;
}

.subtitle-body {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 30vh;
  padding-bottom: 10vh;
  color: #4e4e4e;
  font-size: 4vw;
  line-height: 3em;
}





.kanamti {
  text-align: center;
}


.font-grey {
  color: #333333;
}

.font-outline {
  color: #333;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 0.75px #333;
}


.misscon2017title {
  background-color: pink;
  min-height: 30vh;
  max-height: 50vh;
  height: 40vh;
}

.misscon2017title h2 {
  font-family: 'zousan';
  width: 100%;
  padding-top: 20vh;
  color: white;
  vertical-align: middle;
  text-align: center;
}

.article-link {
  margin-top: 20vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.introduction {
  background-color: pink;
}

.tile-link {
  max-width: 100%;
  height: auto;
}

.article-link .row .col-md-4 {
  padding: 0;
}

.asset-triangle {
  width: 60vw;
  margin-top: -10vw;
  margin-right: -57vw;
}

.rikadai-girl {
  margin: 0;
  width: 100%;
  padding-left: 4vw;
  padding-right: 4vw;
}

.rikadai-girl img {
  padding-bottom: 4vh;
}

.rikadai-boy {
  margin: 0;
  width: 100%;
  padding-left: 4vw;
  padding-right: 4vw;
}

.rikadai-boy img {
  padding-bottom: 4vh;
}

.link h2 {
  font-size: 1.6em;
  padding-left: 2vh;
  padding-bottom: 10vh;
  padding-top: 3vh;
}

.specialthanks-margin {
  background-color: pink;
}

.specialthanks {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10vh;
  padding-top: 3vh;
}

.specialthanks h2{
  font-size: 1.6em;
}

.team {
  width: 100%;
  padding-left: 5vh;
  padding-bottom: 10vh;
  padding-top: 3vh;
}

.team img {
  margin-bottom: 10vh;
}

.kotaro-margin {
  margin: 0;
  width: 100%;
}
.kotaro {
  background-color: pink;
  width: 100%;
  padding-bottom: 10vh;
}
.kotaro p:first-child{
  width: 70%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5vh;
  color: #333333;
  font-size: 3.5vw;
  line-height: 2em;
}

.kotaro p:last-child {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  text-align: right;
  color: #4e4e4e;
  font-size: 4vw;
}

.kotaro .department {
  font-size: 5vw;
  padding-top: 2vh;
}

/************               footer               ******************/
.footer {
  margin: 0;
  width: 100%;
  background-color: pink;
  height: 2vh;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5vh;
}
.footer p {
  font-size: 0.8em;
  color: white;
}
/************               header               ******************/

.header {
  width: 100%;
  margin: 0;
  background-color: pink;
  min-height: 10vh;
  max-height: 20vh;
  height: 15vh;
}

.header a {
  font-size: 0.9em;
  width: 100%;
  padding-top: 5vh;
  margin: 0;
  line-height: 0.8em;
  color: white;
  vertical-align: middle;
  text-align: center;
}

.pagenation {
  padding-top:20vh;
}

.pagenation ul li {
  list-style:none;
}
/************               article               ******************/


.article-introduction .profile {
  width: 100%;
  padding-top: 5vh;
  background-color: pink;
  padding-bottom: 5vh;
}

.article-introduction .profile img {
  margin-left: 5vw;
  border-radius: 50%;
  width: 15vw;
  height: 15vw;
  float: right;
  margin-right: 5vw;
}

.interviewer-profile img {
  margin-left: 2vw;
  border-radius: 50%;
  width: 15vw;
  height: 15vw;
  float: left;
}

.interviewer-profile {
  margin-top: 5vh;
  margin-right: 5vw;
  margin-bottom: 5vh;
}

.article-introduction p{
  padding-left: 5vw;
}
.interview-pic {
  width: 100%;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.article-body {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.article-body p {
  margin-bottom: 5vh;
  font-size: 0.9em;
}

.article-body h2 {
  font-size: 2em;
  margin-top: 5vh;
  margin-bottom: 5vh;
  font-weight: bolder;
}
.article-body h1 {
  font-size: 2em;
  margin-top: 5vh;
  margin-bottom: 5vh;
}


.article-body p img {
  margin-left: -11vw;
  border-radius: 50%;
  width: 11vw;
  height: 11vw;
  border: 3px solid pink;
}

.article-body .other {
  margin-left: -11vw;
}

.article-body .interviewer {
  color: #6F6F6F
}
.article-body .interviewer img{
  border: none;
}

.article-body .interviewer a {
  color: pink;
}

/***********               photo              ******************/

  .photos {
    width: 100%;
    margin-top: 5vh;
    margin-left: 7vw;
    margin-right: 7vw;
  }

  .photos img {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }


  .photos div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    margin: 0;
    margin-bottom: 20%;
    background-repeat: no-repeat;
  }







/************               shop               *****************/
.shop {
  margin-left: 8vw;
  margin-right:8vw;
}
.shop-title {
  width: 100%;
}
.shop-title p{
  font-size: 3em;
}

.shop-subtitle {
  width: 100%;
}
.shop-subtitle p {
  font-size: 1em;
}

.shop-mainimg img {
  margin: 0 auto;
}
.shop-comment {
  width: 100%;
  padding-top:3vh;
  padding-bottom:3vh;
  padding-left: 2vw;
  line-height: 2em;
}

.shop-imgs{
  width: 100%;
}

.shop-imgs img {
  max-width: 100%;
  margin-left: 2em;
  margin-right: 2em;
}

.kanda {
  padding-left: 4em;
  padding-right: 4em;
}
.tabelog-link {
  width: 100%;
  padding-top:10vh;
}


}/**mediaクエリの閉じ**/
